{% extends 'photo/base.html' %}
{% block title %}Album Photo{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}


    <div class="col-sm-6 col-sm-offset-3">
      <div style="text-align: center" class="thumbnail">
              {% if albumphoto.photo_logo %}
                  <img src="{{ albumphoto.photo_logo.url }}" class='img-responsive' >
              {% else %}
                  <h3>No image to display</h3>
              {% endif %}
          </a>
        <div class="caption">
          <h3>{{ albumphoto.photo_title }}</h3>
          <p>
            <a href="{% url 'photo:album-add' %}" class="btn btn-primary" role="button">Add New Photo</a>
            <a href="{% url 'photo:detail' albumphoto.id %}" class="btn btn-primary" role="button">View Details</a>
            <a href="{% url 'photo:index' %}" class="btn btn-primary" role="button">Back Main Page</a>
          </p>
        </div>
      </div>
 <a href="{% url 'photo:album-add' %}">
{% endblock %}